iframe,ion-content{width: 100%; height: 100%; border: none; -ms-overflow-style: none; overflow: -moz-scrollbars-none; overflow: hidden;  }
iframe::-webkit-scrollbar { 
    display: none; 
    width: 0 !important;
}
ion-content::-webkit-scrollbar { 
    display: none; 
    width: 0 !important;
}